{% extends "base.html" %}


{% block content %}
<div class="onetranscript">
<table style="width:100%" id="ttable">
  <tr>
    <th>Product Name</th>
    <th>Product Type</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Remove</th>
  </tr>
{% for items in usernow['itemsthisuser'] %}
      <tr>
        <td> {{items.itemname}}</td>
        <td> {{items.itemtype}}</td>
        <td> {{items.itemprice}}</td>
        <td> {{items.Quantity}}</td>
        <td><a href="/removefrombasket/{{items.id}}" class="btn btn-primary removefromb">Remove</a></div></td>
      </tr>
{% endfor %}
</table>
<hr>
    £{{total}}
<hr>
<a href="/bought" class="btn btn-primary">Buy now</a>
</div>
{% endblock %}