{% extends "base2.html" %}

{% block styles %}

{% endblock %}
<!--Sign in block-->
{% block content %}
<script
src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>
<form action="#" method="post" name = "createtask">
{{ form.hidden_tag() }}
<div class="wrapper">
    <h1 class = "signintitle">S-Clothes</h1>
    <h3 class = "signinsentence">Please log-in or create an account</h3>
    <div class ="userdetails">
        <div class = "userdetailsinner">
        {{ form.username(size= 35,placeholder= 'Username')}}
        <br><br>
        {{ form.password(size = 35,placeholder= 'Password')}}
        <br><br>
        <div class = 'chec1'>
        <input type="checkbox" name="rememberme" class = "checkb"/>
        <div class = 'chec'>
        <p>Remember me</p>
        </div>
        </div>
        <br>
        <input type="submit" value="Sign in" class="addbutton">
        <hr>
        <a href="/Create" class="btn btn-primary btn-lg active create" 
        role="button" 
        aria-pressed="true">Create Account
        </a>
        </div>
    </div>
    <br>
</div>
</form>
<div class='cookies' id = 'cooki'>
    <hr>
    <div class = 'cinnerc'>
    <p><b>By using this website you agree to our use of cookies</b></p>
    <button class = 'btn btn-primary btn-lg active cok' id='c-ok'>Ok</button>
    </div>
    <hr>
</div>
<script>
    $(document).ready(function(){
        $('#c-ok').on('click',function(){
            $('#cooki').hide();
        });
    });
</script>
{% endblock %}