{% extends "base2.html" %}

<!--Will display completed tasks-->
{% block content %}

<div class="grid-container">
    {% for item in allitems %}  <!--Will go through database -->
        <div class="grid-item">
            <div class = itemsingrid>
                <img src="https://media.gettyimages.com/photos/gold-watch-picture-id172380146?s=2048x2048" alt="alternatetext" width ="80%" height = "360"> 
                <p></p>
                <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
                <hr>
                <p> Type : {{item.itemtype}}</p>
                <hr>
                <p>Price : £{{'%0.2f'| format(item.itemprice|float)}}</p>
                </p><hr>
                <a href=# id='process_input'><a href="/addtobasket/{{item.id}}" class="btn btn-primary addbbutton">Add </a></a>
                <p></p>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}