{% extends "base.html" %}

<!--Will display completed tasks-->
{% block content %}
<div class="formadditems">
    <form action="#" method="post" name = "createtask">
        {{ form.hidden_tag() }}
        <div class = "userdetailsinner">
            {{ form.itemname(size= 35,placeholder= 'Item name')}}
            <br><br>
            {{ form.itemtype(size = 35,placeholder= 'Item type')}}
            <br><br>
            {{ form.itemprice(size = 35,placeholder= 'Item price')}}
            <br><br>
            <input type="submit" value="Add item" class="addbutton">
</div>
<br>
<div class="grid-admin">
    {% for item in allitems %}  <!--Will go through database -->
        <div class="gridadmin">
            <div class = itemsinadmin>
                <p><b>Name : {{item.itemname}}</b></p>  <!--View items and their details -->
                <hr>
                <p> Type : {{item.itemtype}}</p>
                <hr>
                <p>Price : £{{'%0.2f'| format(item.itemprice|float)}}</p>
                </p><hr>
                <a href="/deletestock/{{item.id}}" class="deletestock">Delete
                <p></p>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}